@model GrandHotel_WebApplication.Models.Reservation


@{
    var date = DateTime.Today.ToString("yyyy-MM-dd");

}
<style>
    body {
        background-image: url('../../wwwroot/images/img.jpg');
    }
</style>

<br /><br />
<h2><strong>Faites votre Reservation</strong> </h2>
<hr />
<div class="row" id="row">
    <div class="col-md-4">
        <form asp-action="VerifDisponibilite">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Jour" class="control-label"></label>
                <input asp-for="Jour" class="form-control" min="@date" />
                <span asp-validation-for="Jour" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NbNuit" class="control-label"></label>
                <input asp-for="NbNuit" class="form-control" type="number" min="1" />
                <span asp-validation-for="NbNuit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NbPersonnes" class="control-label"></label>
                <input asp-for="NbPersonnes" class="form-control" type="number" min="1" />
                <span asp-validation-for="NbPersonnes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HeureArrivee" class="control-label"></label>
                <input asp-for="HeureArrivee" class="form-control" type="number" min="6" max="22" />
                <span asp-validation-for="HeureArrivee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Travail" class="control-label"></label>
                <select asp-for="Travail">
                    <option value=""> </option>
                    <option value="true">Oui</option>
                    <option value="false">Autres</option>
                </select>
                <span asp-validation-for="Travail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Verification Disponibilité" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
