
@{
    ViewData["Title"] = "Reservations";
}
<style>
    h2 {
        color: red;
    }
</style>

<h2 class="text-center"><strong> nous n'avons Aucune  chambre de Disponible pour les critères saisie</strong></h2>

<br /><br /><br /><br /><br />