
@{
    ViewData["Title"] = "Reservations";
}

<br /><br /><br /><br /><br />

<h2 class="text-center"><strong> nous n'avons Aucune  chambre de Disponible pour les critères saisie</strong></h2>

<br /><br /><br /><br /><br />
<a asp-action="Index">Retour</a>